body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contest {
}

    .contest .people .person {
        position: relative;
    }

    .contest .people img {
        height: 125px;
    }

    .contest .people .info {
        position: absolute;
        top: 50%;
    }

        .contest .people .info .line {
            height: 1px;
            border: 1px solid black;
        }
